// FOOTER

.footer {
  background-color: #495567;
}

.footer__content {
  display: flex;
  align-items: center;
}

.footer-content__heading{
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: $text-white;
  width: 415px;
}

.footer-content__internet {
  margin-left: auto;
  padding-top: 102px;
  padding-bottom: 102px;
}

.footer-content__a ~ .footer-content__a {
  margin-left: 18px;
}

.footer__bottom {
  padding-top: 35px;
  padding-bottom: 32px;
  background-color: $footer-bottom-background;
}

.footer-bottom__wrapper {
  display: flex;
  align-items: center;
}

.footer-bottom__logo-a {
  display: inline-block;
}

.footer-bottom__img{
  display: block;
}

.footer-bottom__nav {
  margin-left: 58px;
}

.footer-nav__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.footer-nav__item ~ .footer-nav__item {
  margin-left: 32px;
}

.footer-nav__a {
  color: $text-dark;
  @include link-styled;
}

.footer-nav__a:hover {
  color: $nav-a-hover;
  transition: .3s ease;
}

.footer-nav__a:active {
  opacity: .5;
}

.footer-bottom__internet-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-bottom__a ~ .footer-bottom__a {
  margin-left: 24px;
  display: inline-block;
}

.footer-bottom__img {
  display: block;
}

.footer-bottom__img:hover path {
  transition: .3s ease;
}

.footer-bottom__img:hover path {
  fill: grey;
}

.footer-bottom__img:active {
  transition: .3s ease;
  opacity: .5;
}

// ====================================
// RESPONSIVE
// =====================================


@include breakpoint-down (850px) {
  
  
  .footer {
    margin-top: 100px;
  }
  
  .footer__content {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 62px;
    padding-bottom: 62px;
  }
  
  .footer-content__heading {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    
  }
  
  .footer-content__internet {
    margin: 0;
    padding: 0;
  }
  
  .footer-content__img:first-child {
    width: 153px;
    height: 50px;
  }
  
  .footer-content__img:last-child {
    width: 150px;
    height: 50px;
  }
  
  .footer-content__a ~ .footer-content__a {
    margin-left: 12px;
  }
}

@include breakpoint-down (600px) {
  
  
  .footer {
    margin-top: 120px;
  }
  
  .footer__content {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 88px;
    padding-bottom: 88px;
  }
  
  .footer-content__heading {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    width: 315px;
    
  }
  
  .footer-content__internet {
    margin: 0;
    padding: 0;
  }
  
  .footer-content__a ~ .footer-content__a {
    margin-left: 12px;
  }

  .footer__bottom {
    padding-top: 64px;
    padding-bottom: 88px;
  }
  

  .footer-bottom__wrapper {
    flex-direction: column;
  }

  .footer-bottom__nav {
    margin: 0;
    margin-top: 41px;
    margin-bottom: 85px;
  }

  .footer-nav__list {
    flex-direction: column;

  }

  .footer-nav__item ~ .footer-nav__item {
    margin-top: 16px;
  }

  .footer-nav__item ~ .footer-nav__item {
    margin-left: 0px;
  }

  .footer-bottom__internet-address {
    margin: 0;
  }
}

@include breakpoint-down (375px) {

  .footer-content__img:first-child {
    width: 100px;
    height: 40px;
  }
  
  .footer-content__img:last-child {
    width: 120px;
    height: 40px;
  }
  
}

@include breakpoint-down (320px) {

  .footer__bottom {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .footer-content__img:first-child {
    width: 110px;
    height: 40px;
  }
  
  .footer-content__img:last-child {
    width: 120px;
    height: 40px;
  }
  
}




